<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTMP4</title>
</head>
<body>
    <form action="/download" method="POST">
        <input style="margin: auto; display: block; width: 250px; text-align: center; border-radius: 20px; height: 35px;" autocomplete="off" type="text" name="url" placeholder="Enter a Youtube URL" required>
        <button style="margin: auto; display: block; width: 125px; height: 25px; border-radius: 20px; cursor: pointer;" type="submit">Download</button>
    </form>
</body>
</html>